<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find ARM_UN)/urdf/ARM_UN.urdf" />

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find ARM_UN)/urdf.rviz" />
</launch>
